.map {
 height: 600px;
 width: 100vw;
 margin-bottom: 30px;
 
 @media (max-width: $desktop) {
  height: 480px;
  
 }
 @media (min-width: $tablet) {
  margin-bottom: 59px;
  
 }
 @media (max-width: $desktop) {
  margin-bottom: 81px;
  
 }
}
.ymaps-2-1-79-ground-pane {
 filter: grayscale(1);
 -ms-filter: grayscale(1);
 -webkit-filter: grayscale(1);
 -moz-filter: grayscale(1);
 -o-filter: grayscale(1);
}